.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chakra-select__icon-wrapper {
  /* display: none !important; */
}
.logo {
  -webkit-text-stroke: 2.5px #1b729c;
  color: transparent !important;
}
.logo2 {
  -webkit-text-stroke: 2px white !important;
  color: transparent !important;
}
.logo3 {
  -webkit-text-stroke: 10px white !important;
  color: transparent !important;
  font-family: Raleway !important;
}
.main-bg {
  position: absolute;
  top: -0% !important;
  z-index: -1;
}

.box {
  height: 60px;
  width: 60px;
  /* background-color: #1b729c; */
  border-radius: 50%;
  border: 1px solid black;
}
.box-selected {
  border: 2px solid black;
}
.box-h {
  font-size: 18px !important;
}
.orange {
  background-color: #ff5b02;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.gray {
  background-color: gray;
}
.blue {
  background-color: blue;
}
.blueviolet {
  background-color: blueviolet;
}
